
<div class="row">
  <div class="col-4">
      <div class="sticky-top">
          <div class="list-group">
            <a class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/">
              All categories
            </a>
            <a *ngFor="let c of categories" routerLink="/" [queryParams]="{ category: c.name }"
              class="list-group-item list-group-item-action" [class.active]="category === c.name">
              {{ c.name }}
            </a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of products; let i = index">
        <div class="col">
          <div class="card">
            <img [src]="p.imageURL" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ p.title}}</h5>
              <p class="card-text">{{ p.price | currency: 'USD':true }}</p>
            </div>
            <div class="card-footer">
              <button *ngIf="getQuantity === 0; else updateQuantity" class="btn btn-secondary btn-block">Add to Cart</button>
              <ng-template #updateQuantity>
                <div class="row no-gutters">
                  <div class="col-2">
                    <button class="btn btn-secondary btn-block">-</button>
                  </div>
                  <div class="col text-center cart">
                    Add to Cart
                  </div>
                  <div class="col-2">
                    <button class="btn btn-secondary btn-block">+</button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div (click)="addToCart(products)" *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>

  </div>
</div>
